_site
.sass-cache
.DS_Store
Gemfile.lock
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache
*.Rproj
cache
.Rproj.user

.RData
.Rhistory

_drafts
_R/drafts
figs/drafts

*cache
_R/*files
_R/*.html

_config_local.yml

courses/WS1015/notes/*cache
courses/WS1015/notes/*files
